{% extends 'eventos/base_home_logout.html' %}
{% load static %}

{% block menu %}
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'index' %}">
            <p style="color:white; font-size: 100%">
                ABC Company
            </p>
        </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navigation-example-2">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#eventos" class="btn btn-danger btn-simple"><p style="color:#3d83ef;"></p>
                </a>
            </li>
            <li>
                <a href="#consulta" class="btn btn-info btn-block"><p style="color: white;">Consultar Inscripción</p>
                </a>
            </li>
            <li>
                <a href="#ingresar"
                   class="btn btn-info btn-block"><p style="color: white;">Ingresar</p></a>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
{% endblock menu %}

{% block carousel %}
    {% comment %}
    <div id="carousel">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <div class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="{% static 'eventos/landing/assets/paper_img/eventos.jpg' %}" alt="Awesome Image">
                    </div>
                    <div class="item">
                        <a href="#inputs">
                            <img src="{% static 'eventos/landing/assets/paper_img/shoes.jpg' %}" alt="Awesome Image">
                        </a>
                    </div>
                    <div class="item">
                        <img src="{% static 'eventos/landing/assets/paper_img/types.jpg' %}" alt="Awesome Image">
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="fa fa-angle-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="fa fa-angle-right"></span>
                </a>
            </div>
        </div> <!-- end carousel -->
    </div>
    {% endcomment %}
{% endblock carousel %}

{% block contenido_pagina %}
    <section>
        <br>
        <br>
    </section>

    <section id="eventos">
        <div class="container">
            <div class="row">

                <div class="sec-title text-center wow animated fadeInDown">
                    <h2>Eventos Recientes</h2>
                </div>


                <ul class="project-wrapper wow animated fadeInUp">
                    {% for event in eventos_lista %}

                        <li class="portfolio-item">
                            <a href="{% url 'public_event' event.id %}">
                                <img
                                        src="{% static 'eventos/dist/img/imgevents/' %}{{ event.banner }}"
                                        class="img-responsive"
                                        style="height: 290px; width: 3810px">
                                <figcaption class="mask">
                                    <h3>{{ event.nombre }}</h3>
                                    <p>{{ event.descripcion }}</p>
                                </figcaption>
                            </a>
                        </li>

                    {% endfor %}
                </ul>
            </div>
            <div class="row">

                <div class="text-center animated fadeInRight">
                    <a href="{% url 'all_events' %}" class="btn btn-blue btn-effect">Todos los Eventos</a>
                </div>

            </div>
        </div>
    </section>
    <!-- end Eventos section -->

    <section>
        <br>
        <br>
        <br>
        <br>
    </section>

    <section id="noticias">
        <div class="container">
            <div class="row">

                <div class="sec-title text-center wow animated fadeInDown">
                    <h2>Noticias Recientes</h2>
                </div>


                <ul class="project-wrapper wow animated fadeInUp">
                    {% for new in noticias_lista %}

                        <li class="portfolio-item">
                            <a href="{% url 'public_new' new.id %}">
                                <img
                                        src="{% static 'eventos/dist/img/imgnews/' %}{{ new.banner }}"
                                        class="img-responsive"
                                        style="height: 290px; width: 3810px">
                                <figcaption class="mask">
                                    <h3>{{ new.nombre }}</h3>
                                </figcaption>
                            </a>
                        </li>

                    {% endfor %}
                </ul>

            </div>
            <div class="row">

                <div class="text-center  animated fadeInRight">
                    <a href="{% url 'all_news' %}" class="btn btn-blue btn-effect">Todas las noticias</a>
                </div>

            </div>
        </div>
    </section>
    <!-- end Eventos section -->

    <section>
        <br></br>
        <br></br>
    </section>
    <!-- Ingresar section -->
    <section id="ingresar">
    <div class="container">
        <div class="row">

            <div class="sec-title text-center wow animated fadeInDown">
                <h2>Ingresa con tu cuenta</h2>
                <p>Si no tienes cuenta, ¡Registrate!</p>
            </div>


            <div class="text-center  animated fadeInLeft">
                <div class="">
                    <a href="{% url 'login' %}" class="btn btn-blue btn-effect">Ingresar</a>
                </div>

            </div>
            <br>
            <div class="text-center animated fadeInRight">
                <a href="{% url 'registro' %}" class="btn btn-blue btn-effect">Registrate</a>
            </div>

        </div>
    </div>
    <section>
        <br></br>
        <br></br>
    </section>
    <!-- Ingresar section -->
    <section id="consulta">
        <div class="container">
            <div class="row">

                <div class="sec-title text-center wow animated fadeInDown">
                    <h2>¿Ya te has inscrito a un evento?</h2>
                    <p>¡Genial!, Puedes consultar el estado de tu inscripción<br>
                        en nuestra plataforma de consultas
                    </p>
                </div>


                <div class="text-center animated fadeInLeft">
                    <div class="">
                        <a href="{% url 'con_cat_ins' %}" class="btn btn-blue btn-effect">Consultar mi Inscripción</a>
                    </div>

                </div>

            </div>
        </div>
        <br>
        <br>
    </section>
    <!-- end Ingresar section -->

{% endblock contenido_pagina %}

{% block footer %}
    <footer class="footer-demo section-dark">
        <div class="container">
            <nav class="pull-left">
                <ul>

                    <li>
                        <a href="{% url 'index' %}">
                            ABC Company
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'index' %}">
                            .
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'index' %}">
                            .
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright pull-right">
                Proyecto de Aplicaciones WEB
            </div>
        </div>
    </footer>

{% endblock footer %}